@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}


.hide-this{
  display: none;
}


// sass
$white: #232946;
$violet: #7f1cdf;
$darkBlue: #424874;
$blue: #26abff;
$purple: #dcd6f7;
$darkViolet: #1c1c65;
$pink: #ff83cd;
$transparentWhite: rgba(255, 255, 255, 0.2);
$orange: #ffa500;
$lightOrange: #ffe5b4;
$dark: #0f103f;
$black: #020202;

// 
$first: #b8c1ec;
$second:#4f3551;
$third: #eebbc3;
// $third: #662baa;


$fourt: #999;
$six: #b4daf5;
$seven: #001858;

// scroll bar
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 2px $black; 
  border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $third; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $six; 
}

// pre loader
#preloader {
  background-color: $third;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  opacity: 80%;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $purple;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $violet;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $six;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// arrow up button
#arrowUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: $third;
  color: $first;
  padding: 10px 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 99;
  cursor: pointer;
  // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  // box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

body {
  scroll-snap-align: start;
}

// all section
section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: auto;
  background-color: $white;
}

// javascript active nav hover
.actives {
  border-bottom: 3px solid $six;
}


// scroll animation

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

//
.title {
  color: $seven;
  position: relative;
  display: inline-block;
  font-weight: bolder;
  letter-spacing: 1px;
  // text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 1px auto;
  width: 40%;
  height: 4px;
  background: $six;
  // text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

// header nav
header {
  width: 100%;
  background-color: $white;
  // background-image: linear-gradient(to right, $violet, $darkBlue);
  position: sticky;
  top: 0;
  z-index: 2;
  // box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
  // box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15%;
  border-bottom: 1px solid #ddd;

  .fa-sun {
    cursor: pointer;
    color: $darkBlue;
    font-size: 28px;
  }
}

.logo {
  font-size: 21px;
  font-weight: bolder;
  color: $third;
  margin: 13px 0;
}

//  header nav links
a {
  text-decoration: none;
}

nav {
  & ul {
    display: flex;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
  }

  & li {
    border: none;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;

    & a {
      text-decoration: none;
      letter-spacing: 1px;
      color: $black;
      padding-bottom: 2px;
    
  
      cursor: pointer;
    }
  }
}

// mobile view nav

.burger {
  display: none;
  padding: 0;
  margin: 0;
}

.burger div {
  width: 3em;
  height: 0.2em;
  background-color: $third;
  margin: 0.5em 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

// home
#home {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  letter-spacing: 2px;
  height: 90vh;
  background-color: $third;

  // background-color: $white;
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2409%26quot%3b)' fill='none'%3e%3cpath d='M1243.03 184.52L1238.09 172.71 1248.52 165.29 1243.57 153.48 1254.01 146.06 1249.06 134.25 1259.5 126.83M1250.73 186.72L1245.78 174.91 1256.22 167.49 1251.27 155.68 1261.7 148.26 1256.76 136.44 1267.19 129.02' stroke='rgba(127%2c 28%2c 223%2c 1)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M770.0300000000001 266.46 L896.51 321.27L906.4316191232101 220.70338087678988z' fill='rgba(66%2c 72%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M28.71 2.97L32.54 15.19 21.46 21.61 25.29 33.83 14.21 40.25 18.04 52.47 6.96 58.89M21.25 0.07L25.08 12.29 14 18.71 17.84 30.93 6.76 37.35 10.59 49.57-0.49 55.99M13.8-2.83L17.63 9.39 6.55 15.81 10.38 28.03-0.7 34.45 3.13 46.67-7.95 53.09' stroke='rgba(127%2c 28%2c 223%2c 1)' stroke-width='2.18' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3ccircle r='75.01243583508355' cx='1111.8' cy='461.19' stroke='rgba(127%2c 28%2c 223%2c 1)' stroke-width='1.6'%3e%3c/circle%3e%3crect width='190.72' height='190.72' clip-path='url(%26quot%3b%23SvgjsClipPath2410%26quot%3b)' x='723.97' y='87.92' fill='url(%23SvgjsPattern2411)' transform='rotate(341.02%2c 819.33%2c 183.28)'%3e%3c/rect%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath2412%26quot%3b)' x='493.19' y='511.51' fill='url(%23SvgjsPattern2413)' transform='rotate(84.08%2c 523.19%2c 541.51)'%3e%3c/rect%3e%3cpath d='M1512.53 355.13 L1502.42 482.16L1428.4867131557644 339.65671315576446z' fill='rgba(66%2c 72%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M1094.17 494.4 L1043.57 433.45L1115.6508638063729 417.14413619362693z' fill='rgba(66%2c 72%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M231.4 305.83a5.6 5.6 0 1 0-11.11 1.44 5.6 5.6 0 1 0 11.11-1.44zM215.53 307.89a5.6 5.6 0 1 0-11.11 1.44 5.6 5.6 0 1 0 11.11-1.44zM199.66 309.95a5.6 5.6 0 1 0-11.1 1.44 5.6 5.6 0 1 0 11.1-1.44zM183.8 312.01a5.6 5.6 0 1 0-11.11 1.44 5.6 5.6 0 1 0 11.11-1.44zM261.07 285.85a5.6 5.6 0 1 0-11.1 1.44 5.6 5.6 0 1 0 11.1-1.44zM245.21 287.91a5.6 5.6 0 1 0-11.11 1.44 5.6 5.6 0 1 0 11.11-1.44zM229.34 289.97a5.6 5.6 0 1 0-11.11 1.44 5.6 5.6 0 1 0 11.11-1.44zM213.47 292.02a5.6 5.6 0 1 0-11.1 1.44 5.6 5.6 0 1 0 11.1-1.44z' stroke='rgba(127%2c 28%2c 223%2c 1)' stroke-width='1' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3cpath d='M1231.98 214.31 L1299.79 65.45L1194.8375688043436 68.83256880434354z' fill='rgba(66%2c 72%2c 116%2c 1)'%3e%3c/path%3e%3ccircle r='46.666666666666664' cx='1179.36' cy='87.92' fill='rgba(127%2c 28%2c 223%2c 1)'%3e%3c/circle%3e%3crect width='324' height='324' clip-path='url(%26quot%3b%23SvgjsClipPath2414%26quot%3b)' x='-64.17' y='354.21' fill='url(%23SvgjsPattern2415)' transform='rotate(306.25%2c 97.83%2c 516.21)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2409'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='190.72' height='11.92' patternUnits='userSpaceOnUse' id='SvgjsPattern2411'%3e%3crect width='190.72' height='5.96' x='0' y='0' fill='rgba(127%2c 28%2c 223%2c 1)'%3e%3c/rect%3e%3crect width='190.72' height='5.96' x='0' y='5.96' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2410'%3e%3ccircle r='47.68' cx='819.33' cy='183.28'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2413'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(66%2c 72%2c 116%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2412'%3e%3ccircle r='15' cx='523.19' cy='541.51'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2415'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(127%2c 28%2c 223%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2414'%3e%3ccircle r='81' cx='97.83' cy='516.21'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.name {
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & .myName {
    z-index: 1;
    font-size: 60px;
    color: $white;
    // text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }

  & .greetings {
    font-size: 0.5em;
    font-weight: 600;
    color: gray;
    margin-top: 1em;
  }

  & .profession {
    color: $seven;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
  }
  & .location , .email{
    display: flex;
    align-items: center;
  }
  & .email-info, .location-info{
    font-size: 16px;
    font-weight: bold;
    color: $white;
  }
}

#fabs, #fabs1 {
  // github, linkedin, gmail - icon
  color: $six;
  border-radius: 50px;
  padding-right: 30px;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
  border: none;
  // text-shadow: 0 5px 5px rgba(0, 0, 0, .1);

  &:hover {
    color: $second;
    transition: all ease-out 0.5s;
  }
}
#fabs1{
  font-size: 15px;
  padding-right: 10px;
}
.myPhoto {
  z-index: 1;
  padding: 0.4em;
  border-radius: 10px;
  margin: 0;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  height: 7em;
  // box-shadow: 3px 5px 5px $violet;
  border-radius: 50%;
}

.cv {
  background-color: $white;
  color: $third;
  padding: 0px 25px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 2em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  // box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);

  & .arrow-down {
    margin-left: 0.8em;
  }
}

// about
#about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 3em 15%;

  .title {
    margin-bottom: 1.5em;
  }

  .about-container {
    display: flex;
  }

  i {
    font-size: 35px;
    color: $six;
    margin: 18px;
  }

  .i-do {
    // border: 1px solid $second;
    // border: 1px solid #7334a4;
    background-color: $first;
    display: flex;
    padding: 25px;
    max-width: 300px;
    max-height: 500px;
    height: 350px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    transition: .3s;
    border-radius: 5px;
    // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px #7334a4;
  }

  .i-do-title {
    font-size: 20px;
    font-weight: bolder;
    color: $seven;
    margin-bottom: 7px;
  }

  .i-do-sub-title {
    color: $second;
    font-size: 14px;
    font-weight: bold;
    opacity: .6;
    margin-bottom: 5px;
  }
}


// skill ver 3
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 3em 0;

  .grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .skill-container:hover {
    transform: scale(1.1);
  }
  .skill-container{
    background-color: $first;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    // padding: 30px;
    margin: 30px;
    color: $seven;
    transition: .3s;
    border-radius: 5px;
    // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px #7334a4;
  }
  i{
    font-size: 50px;
  }
  p{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    font-size: 10px;
  }

}

// projects
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em 0;
  .project-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em 15%;

    .item {
      display: flex;
      text-align: left;
      align-self: baseline;
      justify-content: baseline;
      flex-direction: column;
      padding: 30px;
      margin: 30px 20px;
      background-color: $first;
      border-radius: 5px;
      // border: 1px solid $purple;
      // box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 1px #7334a4;
      img {
        border-radius: 5px;
        width: 100%;
      }
      .project-title{
        margin-top: 16px;
        color: $seven;
        text-align: left;
        align-self: baseline;
        font-size: 20px;
      }
      .project-sub{
        color: $second;
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 10px;
        // margin-bottom: 8px;
        opacity: .5;
        // border-bottom: 1px solid $purple;
        width: 100%;
      }
      .project-description{
        align-self: baseline;
        text-align: left;
        color: $second;
        font-size: 12px;
        margin-right: 12px;
        font-weight: 600;
        opacity: .5;
      }
      .tools{
        color: $dark;
        margin-top: 10px;
        font-size: 10px;
      }
      .project-button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        
      }
      .source-code, .view-website{
        cursor: pointer;
        padding: 12px;
        font-size: 14px;
        font-weight: bold;
        color: $third;
        border: 1px solid $third;
        border-radius: 5px;
        // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        transition: .3s;
      }
      .source-code:hover, .view-website:hover{
        transform: scale(1.1);
      }
      .source-code i{
        color: $darkBlue;
        font-size: 16px;
        margin-right: 4px;
      }
      .source-code{
        background-color: $first;
      }
      .view-website{
        color: $white;
        background-color: $third;
      }
    }
  }
}


// contact
#contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  padding: 3em 10%;
  background-repeat: no-repeat;
  background-size: cover;

  & .quote {
    margin-top: 3em;
    z-index: 1;
    font-size: 15px;
    color: $second;
    opacity: .9;
    line-height: 30px;
  }

  & .business {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid $second;

    & a {
      letter-spacing: 1px;
      font-size: 0.8em;

      & #faabs {
        color: $six;
        border-radius: 50px;
        font-size: 2em;
        margin: 1.5em 1em 0.3em 0.3em;
        cursor: pointer;
        transition: ease 0.3s;
      }
    }
  }
}

// footer
footer {
  text-align: center;
  padding: 2em;
  margin-top: 3em;
  color: $second;
  font-size: .9em;
  letter-spacing: 2px;
  opacity: .8;
  font-family: monospace;
}

// media
@media only screen and (max-width: 900px) {
  header {
    position: fixed;
  }


  .name {
    display: grid;
  }


  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  nav {
    padding: 20px 0;
  }

  .links {
    padding: 0.3em 0;
  }

  .main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 10%;
  }

  .burger {
    font-size: 0.7em;
  }

  .nav-links {
    padding-top: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    right: 0px;
    height: 50vh;
    top: 56px;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: $white;
    border-bottom: 1px solid #ddd;

    & li {
      width: 100%;
      margin: 0;
      padding: 1em;
    }

    & .links {
      color: $second;
    }
  }

  .info>span {
    font-size: 0.8em;
  }

  //
  #about{
    .about-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }


#skills{
  display: flex;
  height: auto;
  .grid{
    display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  }
}


 #projects{
  .project-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .item{
      .source-code, .view-website{
        margin: 10px;
      }
    }
  }
 }
  //
  // #contact {
  //   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2613%26quot%3b)' fill='none'%3e%3crect width='252' height='252' clip-path='url(%26quot%3b%23SvgjsClipPath2614%26quot%3b)' x='-8.2' y='15.89' fill='url(%23SvgjsPattern2615)' transform='rotate(276.45%2c 117.8%2c 141.89)'%3e%3c/rect%3e%3cpath d='M1133.01 570.09 L1073.08 474.66L1044.3192308245204 581.1007691754797z' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath2616%26quot%3b)' x='192.55' y='455.42' fill='url(%23SvgjsPattern2617)' transform='rotate(137.19%2c 222.55%2c 485.42)'%3e%3c/rect%3e%3cpath d='M1274.98 418.75a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1285.73 430.61a5.6 5.6 0 1 0 7.51 8.3 5.6 5.6 0 1 0-7.51-8.3zM1296.47 442.47a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1307.21 454.33a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1241.64 405.78a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1252.38 417.63a5.6 5.6 0 1 0 7.52 8.31 5.6 5.6 0 1 0-7.52-8.31zM1263.13 429.49a5.6 5.6 0 1 0 7.51 8.3 5.6 5.6 0 1 0-7.51-8.3zM1273.87 441.35a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1208.3 392.8a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1219.04 404.66a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1229.78 416.52a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1240.53 428.38a5.6 5.6 0 1 0 7.51 8.3 5.6 5.6 0 1 0-7.51-8.3z' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M681.73 397.68L686.77 385.91 699.36 388.23 704.39 376.46 716.99 378.78 722.02 367.01 734.61 369.33M685.51 404.73L690.55 392.96 703.14 395.28 708.17 383.51 720.77 385.83 725.8 374.06 738.39 376.38' stroke='rgba(127%2c 28%2c 223%2c 1)' stroke-width='2.56' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath2618%26quot%3b)' x='372.56' y='110.44' fill='url(%23SvgjsPattern2619)' transform='rotate(128.82%2c 402.56%2c 140.44)'%3e%3c/rect%3e%3crect width='117' height='117' clip-path='url(%26quot%3b%23SvgjsClipPath2620%26quot%3b)' x='836.73' y='386.73' fill='url(%23SvgjsPattern2621)' transform='rotate(158.81%2c 895.23%2c 445.23)'%3e%3c/rect%3e%3ccircle r='74.4560076645051' cx='794.41' cy='9.6' stroke='rgba(37%2c 28%2c 51%2c 1)' stroke-width='1.04' stroke-dasharray='4%2c 4'%3e%3c/circle%3e%3ccircle r='46.666666666666664' cx='556.43' cy='420.99' stroke='rgba(37%2c 28%2c 51%2c 1)' stroke-width='2.79' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3crect width='305.36' height='305.36' clip-path='url(%26quot%3b%23SvgjsClipPath2622%26quot%3b)' x='-83.47' y='71.04' fill='url(%23SvgjsPattern2623)' transform='rotate(186.58%2c 69.21%2c 223.72)'%3e%3c/rect%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath2624%26quot%3b)' x='1059.1' y='18.89' fill='url(%23SvgjsPattern2625)' transform='rotate(22.19%2c 1089.1%2c 48.89)'%3e%3c/rect%3e%3cpath d='M1029.3899999999999 537.92 L1065.08 624.7L1012.8807564375137 615.6642435624861z' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2613'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2615'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(127%2c 28%2c 223%2c 1)' fill='none' stroke-width='1.18'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2614'%3e%3ccircle r='63' cx='117.8' cy='141.89'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2617'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(37%2c 28%2c 51%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2616'%3e%3ccircle r='15' cx='222.55' cy='485.42'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2619'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(37%2c 28%2c 51%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2618'%3e%3ccircle r='15' cx='402.56' cy='140.44'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='11.7' height='11.7' patternUnits='userSpaceOnUse' id='SvgjsPattern2621'%3e%3cpath d='M5.85 1L5.85 10.7M1 5.85L10.7 5.85' stroke='rgba(37%2c 28%2c 51%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2620'%3e%3ccircle r='29.25' cx='895.23' cy='445.23'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='305.36' height='13.88' patternUnits='userSpaceOnUse' id='SvgjsPattern2623'%3e%3crect width='305.36' height='6.94' x='0' y='0' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/rect%3e%3crect width='305.36' height='6.94' x='0' y='6.94' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2622'%3e%3ccircle r='76.34' cx='69.21' cy='223.72'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2625'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(37%2c 28%2c 51%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2624'%3e%3ccircle r='15' cx='1089.1' cy='48.89'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  // }
}

// mobile view
@media only screen and (max-width: 500px) {
  .product-box {
    max-width: 80%;
  }

  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .title {
    font-size: 0.8em;
  }

  // mobile nav

  header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1%;
  }

  nav {
    padding: 0;
    margin: 0;
  }

  .main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10%;
  }

  .burger {
    font-size: 0.7em;
  }

  .nav-links {
    position: absolute;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // text-align: center;
    top: 64px;
    right: 0px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

    & li {
      width: 100%;
      margin: 0;
      padding: 1em;

      & .links {
        padding: 0.3em;
      }
    }
  }

  // fade animation

  // home
  #home {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

    & .name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      line-height: 1.1em;

      & .see-project-btn {
        margin-top: 2.5em;
        padding: 0.5em 1em;
        font-size: 0.5em;
      }

      & .profession {
        font-size: 16px;
        margin-bottom: 10px;
      }

      & .myName {
        font-size: 30px;
      }

      & .cv {
        font-size: 14px;
      }

      & #fabs {
        font-size: 17px;
        margin: 0px;
        padding: 10px;
      }
      & .email-info, .location-info{
        font-size: 10px;
      }
    
    #fabs1{
      font-size: 12px;
      padding-right: 5px;
    }
    }
  }

  // about mobile ver
  #about {
    padding: 3em 0;

    .title {
      margin-bottom: 2em;
    }

    .about-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    i {
      font-size: 35px;
      margin: 15px;
    }

    .i-do {
      width: 80%;
      height: 380px;
    }

    .i-do-title {
      font-size: 20px;
      margin-bottom: 5px;
    }

    .i-do-sub-title {
      font-size: 14px;
      opacity: .7;
    }
  }

  // skill ver 3 round
  #skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 11%;

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .skill-container {
      margin: 9px 0;

      .skill {
        padding: 11px;
        margin: 5px;

        .name,
        i {
          font-size: 12px;
          margin-bottom: 5px;
        }

        .progress {
          height: 10px;
        }

        .bar {
          font-size: 10px;
        }
      }
    }
  }

  // project
#projects {
  padding: 3em 5%;
  .project-container {
    padding: 0 0 2em 0;
    .item {
      padding: 20px;
      margin: 30px 20px;
      img {
        border-radius: 5px;
        width: 100%;
      }
      .project-title{
        font-size: 16px;
        margin-top: 8px;
      }
      .project-sub{
        font-size: 14px;
        padding-bottom: 8px;
      }
      .project-description{
        font-size: 12px;
        margin: 0;
      }
      .source-code, .view-website{
        padding: 8px;
        font-size: 12px;
        font-weight: bold;
        margin: 0;
      }
      i{
        font-size: 10px;
        margin-right: 4px;
      }
 
    }
  }
}


  // contact
  #contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: monospace;
    line-height: 20px;
    height: auto;
    font-size: 0.8em;
    letter-spacing: 2px;
    padding: 0 9% 3em 9%;

    & .quote {
      font-size: 8px;
    }

    & .business {
      & a {
        & #faabs {
          font-size: 15px;
          margin: 0 10px;
        }
      }
    }
  }

  // footer
  footer {
    font-size: 0.9em;
    padding: 0;
    margin: 3em 0 1.5em 0;
  }

  nav {
    padding: 0.3em 0;
  }

  .nav-active {
    transform: translateX(0%);
  }
}

.nav-active {
  transform: translateX(0%);
}






// slide show
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: $first;
  
}

/* Caption text */
// .text {
//   color: $third;
//   font-size: 15px;
//   padding: 8px 12px;
//   position: absolute;
//   bottom: 8px;
//   width: 100%;
//   text-align: center;
//   font-weight: bolder;
// }

/* Number text (1/3 etc) */
.numbertext {
  color: $seven;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  font-weight: bolder;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 5px;
  width: 5px;
  margin: 0px;
  padding: 0px;
  background-color: $seven;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* The dots/bullets/indicators */
.dot1 {
  height: 5px;
  width: 5px;
  margin: 0px;
  padding: 0px;
  background-color: $seven;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active-dot {
  background-color: $third;
}

.active-dot1 {
  background-color: $third;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}