@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200&family=Quicksand:wght@500&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.active {
  color: #ffa500;
  background-color: #360167;
}

#arrowUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffe5b4;
  color: #333;
  padding: .8em 1em;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 99;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 8px #333;
          box-shadow: 1px 1px 8px #333;
}

#arrowUp:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #f2f2f2;
  color: #360167;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}

header {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(#e65c9c));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), #e65c9c);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}

header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15%;
}

header .main-nav .logo {
  font-size: 2em;
  cursor: pointer;
  color: #ffa500;
  text-shadow: 1px 1px 15px #f2f2f2;
}

a {
  text-decoration: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav li {
  border: none;
  display: inline-block;
  margin: 3em 0 3em 2em;
}

nav li a {
  text-decoration: none;
  color: #f2f2f2;
  padding: 1em;
  cursor: pointer;
}

nav li a:hover {
  background-color: #ffa500;
  color: #f2f2f2;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
  border-radius: 3px;
}

.name {
  line-height: 1.8em;
}

.burger {
  display: none;
}

.burger div {
  width: 3em;
  height: .2em;
  background-color: #f2f2f2;
  margin: .5em;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16%;
  letter-spacing: 2px;
  height: 80vh;
}

.name .greetings {
  font-size: .5em;
  font-weight: 600;
  color: #777;
}

.name .profession {
  color: #e65c9c;
  font-weight: 800;
}

#fabs {
  color: #f2f2f2;
  border-radius: 50px;
  background-color: #333;
  padding: .8em;
  font-size: .5em;
  margin: 1.5em 1em .3em .3em;
  cursor: pointer;
  border: 2px solid #360167;
}

#fabs:hover {
  color: #333;
  background-color: #f2f2f2;
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
  border: 2px solid #360167;
}

.see-project-btn {
  background-color: #ffa500;
  color: #f2f2f2;
  padding: .5em 1em;
  font-size: .5em;
  letter-spacing: 1px;
  margin-top: 7%;
  border: 1px solid #ffe5b4;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.see-project-btn:hover {
  background-color: #360167;
  color: #f2f2f2;
  border: 1px solid #111;
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

.see-project-btn .arrow-down {
  margin-left: .8em;
}

.myPhoto {
  padding: .4em;
  background-color: #111;
  border-radius: 10px;
  margin: 2%;
  border: 3px solid #f2f2f2;
  cursor: pointer;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
  height: 10em;
  -webkit-box-shadow: 3px 5px 10px #e65c9c;
          box-shadow: 3px 5px 10px #e65c9c;
}

#skills {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#f2f2f2), to(#360167));
  background-image: linear-gradient(to right, #f2f2f2, #360167);
  color: #f2f2f2;
  letter-spacing: 2px;
  height: 90vh;
  padding: 1em 12%;
}

#skills .title {
  border-bottom: 4px solid #ffe5b4;
  padding: .3em;
  color: #f2f2f2;
}

#skills .skills-container {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills .skills-container .box {
  border: 1px solid #ffe5b4;
  width: 25%;
  margin: 5%;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 1px 1px 3px #f2f2f2;
          box-shadow: 1px 1px 3px #f2f2f2;
}

#skills .skills-container .box #skills-icon {
  color: #e65c9c;
  padding: .8em;
  background-color: #333;
  border-radius: 50px 0 50px 0;
  margin: 2%;
  border: 3px solid #f2f2f2;
  cursor: pointer;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

#skills .skills-container .box #skills-icon:hover {
  color: #ffa500;
  background-color: #360167;
  border-radius: 0 50px 0 50px;
  margin: 2%;
  border: 3px solid #ffe5b4;
}

#skills .skills-container .box .sub {
  margin: 5%;
  font-size: .5em;
}

#skills .skills-container .box .subs {
  font-size: .4em;
}

#projects {
  background-image: -webkit-gradient(linear, left top, right top, from(#360167), to(#e65c9c));
  background-image: linear-gradient(to right, #360167, #e65c9c);
  height: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 1em 0;
}

#projects .title {
  border-bottom: 4px solid #ffe5b4;
  padding: .3em;
  color: #f2f2f2;
}

#projects .project-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: auto;
}

#projects .project-container .project {
  display: -ms-grid;
  display: grid;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em;
  width: 100%;
  margin: 1em 0;
  border: 1px solid #ffe5b4;
  -webkit-box-shadow: 1px 1px 3px #f2f2f2;
          box-shadow: 1px 1px 3px #f2f2f2;
}

#projects .project-container .project video {
  margin: .5em 0 0 0;
  border-radius: 5px 5px 0 0;
  width: 420px;
  height: auto;
}

#projects .project-container .project .project-title {
  font-size: .5em;
  color: #f2f2f2;
}

#projects .project-container .project .btn-project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.3);
  padding: .5em 0;
  border-radius: 0 0 5px 5px;
}

#projects .project-container .project .btn-project-container .project-btn {
  padding: .6em;
  cursor: pointer;
  background-color: #ffa500;
  color: #f2f2f2;
  border: 2px solid #ffe5b4;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
  border-radius: 5px;
}

#projects .project-container .project .btn-project-container .project-btn:hover {
  background-color: #f2f2f2;
  color: #ffa500;
}

#projects .project-container .project .btn-project-container .project-btn #project-icon {
  font-size: 2em;
  padding: .2em;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333;
  height: auto;
  color: #f2f2f2;
  font-size: 1em;
  letter-spacing: 2px;
  padding: 10%;
}

#contact .business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 2px;
}

#contact .business a {
  color: #f2f2f2;
  letter-spacing: 1px;
  font-size: .8em;
}

#contact .business a #faabs {
  color: #f2f2f2;
  border-radius: 50px;
  background-color: #ffa500;
  padding: .8em;
  font-size: 1em;
  margin: 1.5em 1em .3em .3em;
  cursor: pointer;
  border: 1px solid #333;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

#contact .business a #faabs:hover {
  background-color: #f2f2f2;
  color: #333;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #111;
  height: auto;
  color: #fff;
  font-size: .7em;
  letter-spacing: 2px;
  padding: 2em;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .title {
    font-size: .8em;
  }
  header {
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  #home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .name h1 {
    font-size: 1em;
  }
  .profession {
    font-size: .7em;
  }
  #fabs {
    font-size: .3em;
  }
  .social {
    margin: 5%;
  }
  .myPhoto {
    margin: 2em 0;
    height: 7em;
  }
  #skills {
    height: auto;
  }
  #skills .title {
    padding: .3em;
  }
  #skills .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #skills .skills-container .box {
    padding: .5em;
    width: 90%;
  }
  #skills .skills-container .box #skills-icon {
    font-size: .7em;
    padding: 1em 1.5em;
  }
  #skills .skills-container .box .subs {
    font-size: .3em;
  }
  #projects .project-container {
    display: -ms-grid;
    display: grid;
    place-items: center;
    height: auto;
    width: 70%;
  }
  #projects .project-container .project {
    padding: .5em;
  }
  #projects .project-container .project video {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
  }
  #projects .project-container .project .project-title {
    font-size: .4em;
    color: #f2f2f2;
  }
  #projects .project-container .project .btn-project-container {
    padding: 0 0 .4em 0;
  }
  #projects .project-container .project .btn-project-container .project-btn {
    font-size: .2em;
    padding: .8em;
  }
  #projects .project-container .project .btn-project-container .project-btn #project-icon {
    font-size: 1.5em;
    padding: .4em;
  }
  #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #333;
    height: auto;
    color: #f2f2f2;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 10%;
  }
  #contact .business {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    letter-spacing: 2px;
  }
  #contact .business a {
    color: #f2f2f2;
    letter-spacing: 1px;
    font-size: .8em;
  }
  #contact .business a #faabs {
    color: #f2f2f2;
    border-radius: 50px;
    background-color: #ffa500;
    padding: .8em;
    font-size: 1em;
    margin: 1.5em 1em .3em .3em;
    cursor: pointer;
    border: 1px solid #333;
    -webkit-transition: ease .3s;
    transition: ease .3s;
  }
  #contact .business a #faabs:hover {
    background-color: #f2f2f2;
    color: #333;
  }
  #contact {
    font-size: .7em;
  }
  footer {
    font-size: .5em;
  }
  nav {
    padding: .5em 0;
  }
  .burger {
    font-size: .7em;
  }
  .nav-links {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    right: 0px;
    height: auto;
    top: 45px;
    width: 100%;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), #e65c9c);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    border-bottom: 3px solid #360167;
    width: 100%;
    margin: 0;
    padding: 1em;
  }
  .nav-links li .links {
    color: #ffe5b4;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
/*# sourceMappingURL=style.css.map */
