@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

#preloader {
  background-color: #fffffe;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #7f1cdf;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #26abff;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #171120;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#arrowUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #7f1cdf;
  color: #fffffe;
  padding: 12px 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 99;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  scroll-snap-align: start;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  height: auto;
  background-color: #fffffe;
}

.actives {
  border-bottom: 3px solid #7f1cdf;
}

.reveal {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.reveal.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.title {
  color: #171120;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
}

.title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 2px auto;
  width: 50%;
  height: 6px;
  background: #7f1cdf;
}

header {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#7f1cdf), to(#171120));
  background-image: linear-gradient(to right, #7f1cdf, #171120);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  -webkit-box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15%;
}

.logo {
  width: 32px;
  margin: 13px 0;
}

a {
  text-decoration: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav li {
  border: none;
  display: inline-block;
  margin: .5em 0 1em 1em;
  padding: 0;
}

nav li a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #fffffe;
  padding: 0.3em 0.8em;
  cursor: pointer;
}

nav li a:hover {
  background-color: #7f1cdf;
  color: #fffffe;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  border-radius: 2px;
}

.burger {
  display: none;
  padding: 0;
  margin: 0;
}

.burger div {
  width: 3em;
  height: 0.2em;
  background-color: #dde;
  margin: 0.5em 0;
}

#home {
  padding: 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1252%26quot%3b)' fill='none'%3e%3ccircle r='46.666666666666664' cx='728.88' cy='25.84' fill='rgba(127%2c 28%2c 223%2c 1)'%3e%3c/circle%3e%3cpath d='M1198.06 240.59a5.6 5.6 0 1 0-3.82-10.53 5.6 5.6 0 1 0 3.82 10.53zM1192.61 225.54a5.6 5.6 0 1 0-3.82-10.52 5.6 5.6 0 1 0 3.82 10.52zM1187.15 210.5a5.6 5.6 0 1 0-3.82-10.53 5.6 5.6 0 1 0 3.82 10.53zM1181.7 195.46a5.6 5.6 0 1 0-3.82-10.53 5.6 5.6 0 1 0 3.82 10.53zM1224.01 265.22a5.6 5.6 0 1 0-3.82-10.53 5.6 5.6 0 1 0 3.82 10.53zM1218.55 250.17a5.6 5.6 0 1 0-3.81-10.52 5.6 5.6 0 1 0 3.81 10.52zM1213.1 235.13a5.6 5.6 0 1 0-3.82-10.53 5.6 5.6 0 1 0 3.82 10.53zM1207.65 220.09a5.6 5.6 0 1 0-3.82-10.53 5.6 5.6 0 1 0 3.82 10.53zM1249.96 289.85a5.6 5.6 0 1 0-3.82-10.53 5.6 5.6 0 1 0 3.82 10.53zM1244.5 274.8a5.6 5.6 0 1 0-3.81-10.53 5.6 5.6 0 1 0 3.81 10.53zM1239.05 259.76a5.6 5.6 0 1 0-3.82-10.53 5.6 5.6 0 1 0 3.82 10.53zM1233.6 244.72a5.6 5.6 0 1 0-3.82-10.53 5.6 5.6 0 1 0 3.82 10.53z' fill='rgba(127%2c 28%2c 223%2c 1)'%3e%3c/path%3e%3crect width='216' height='216' clip-path='url(%26quot%3b%23SvgjsClipPath1253%26quot%3b)' x='173.85' y='334.9' fill='url(%23SvgjsPattern1254)' transform='rotate(205.25%2c 281.85%2c 442.9)'%3e%3c/rect%3e%3crect width='240' height='240' clip-path='url(%26quot%3b%23SvgjsClipPath1255%26quot%3b)' x='404.53' y='39.88' fill='url(%23SvgjsPattern1256)' transform='rotate(190.18%2c 524.53%2c 159.88)'%3e%3c/rect%3e%3cpath d='M917.15 472.41 L839.77 432.51L934.842152779629 396.07784722037104z' fill='rgba(127%2c 28%2c 223%2c 1)'%3e%3c/path%3e%3ccircle r='86.20009855305237' cx='181.22' cy='172.01' stroke='rgba(37%2c 28%2c 51%2c 1)' stroke-width='1.38' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3cpath d='M1101.08 102.55L1109.9 93.27 1120.9 99.84 1129.72 90.55 1140.71 97.12 1149.53 87.84 1160.53 94.41M1102.17 110.48L1110.99 101.19 1121.98 107.76 1130.8 98.48 1141.8 105.05 1150.62 95.76 1161.61 102.33' stroke='rgba(37%2c 28%2c 51%2c 1)' stroke-width='2.68' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='117.4' height='117.4' clip-path='url(%26quot%3b%23SvgjsClipPath1257%26quot%3b)' x='1124.19' y='481.97' fill='url(%23SvgjsPattern1258)' transform='rotate(117.19%2c 1182.89%2c 540.67)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='809.45' cy='329.08' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/circle%3e%3cpath d='M355.38 504.13a5.6 5.6 0 1 0 7.98 7.86 5.6 5.6 0 1 0-7.98-7.86zM366.78 515.36a5.6 5.6 0 1 0 7.98 7.86 5.6 5.6 0 1 0-7.98-7.86zM378.18 526.59a5.6 5.6 0 1 0 7.98 7.86 5.6 5.6 0 1 0-7.98-7.86zM389.58 537.81a5.6 5.6 0 1 0 7.98 7.86 5.6 5.6 0 1 0-7.98-7.86z' stroke='rgba(37%2c 28%2c 51%2c 1)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='144' height='144' clip-path='url(%26quot%3b%23SvgjsClipPath1259%26quot%3b)' x='122.44' y='124.15' fill='url(%23SvgjsPattern1260)' transform='rotate(324.5%2c 194.44%2c 196.15)'%3e%3c/rect%3e%3cpath d='M840.25 486.24 L830.96 586.02L880.2482203196223 580.7732203196223z' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1252'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1254'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(127%2c 28%2c 223%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1253'%3e%3ccircle r='54' cx='281.85' cy='442.9'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='240' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1256'%3e%3crect width='240' height='3' x='0' y='0' fill='rgba(127%2c 28%2c 223%2c 1)'%3e%3c/rect%3e%3crect width='240' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1255'%3e%3ccircle r='60' cx='524.53' cy='159.88'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='117.4' height='11.74' patternUnits='userSpaceOnUse' id='SvgjsPattern1258'%3e%3crect width='117.4' height='5.87' x='0' y='0' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/rect%3e%3crect width='117.4' height='5.87' x='0' y='5.87' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1257'%3e%3ccircle r='29.35' cx='1182.89' cy='540.67'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1260'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(127%2c 28%2c 223%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1259'%3e%3ccircle r='36' cx='194.44' cy='196.15'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.name {
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
}

.name .myName {
  z-index: 1;
  font-size: 1.3em;
  color: #171120;
}

.name .greetings {
  font-size: 0.5em;
  font-weight: 600;
  color: gray;
  margin-top: 1em;
}

.name .profession {
  color: #7f1cdf;
  font-weight: 800;
  font-size: 0.6em;
}

#fabs {
  color: #171120;
  border-radius: 50px;
  padding: 0.5em;
  font-size: 20px;
  margin: 0 0.5em;
  cursor: pointer;
  border: none;
}

#fabs:hover {
  color: #171120;
  background-color: #fffffe;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.myPhoto {
  z-index: 1;
  padding: 0.4em;
  border-radius: 10px;
  margin: 0;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  height: 7em;
  -webkit-box-shadow: 3px 5px 10px #7f1cdf;
          box-shadow: 3px 5px 10px #7f1cdf;
  border-radius: 50%;
}

.cv {
  background-image: -webkit-gradient(linear, left top, right top, from(#7f1cdf), to(#171120));
  background-image: linear-gradient(to right, #7f1cdf, #171120);
  color: #fffffe;
  padding: 0.5em 1em;
  font-size: 0.5em;
  letter-spacing: 1px;
  margin-top: 2em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cv .arrow-down {
  margin-left: 0.8em;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding: 3em 15%;
}

#about .title {
  margin-bottom: 1.5em;
}

#about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about i {
  font-size: 35px;
  color: #7f1cdf;
  margin: 18px;
}

#about .i-do {
  border: 1px solid #7f1cdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  max-width: 300px;
  max-height: 500px;
  height: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#about .i-do:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#about .i-do-title {
  font-size: 20px;
}

#about .i-do-sub-title {
  color: #7f1cdf;
  font-size: 15px;
  opacity: .7;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skills .grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 2em 15%;
}

#skills .skill-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#skills .skill-container {
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 10px;
  border: 1px solid #7f1cdf;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#skills .skill-container .name-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#skills .skill-container .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

#skills .skill-container .skill .name {
  font-size: 20px;
  color: #7f1cdf;
  opacity: .6;
}

#skills .skill-container .skill i {
  font-size: 20px;
  color: #7f1cdf;
}

#skills .skill-container .skill .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15px;
  border: 1px solid #7f1cdf;
  border-radius: 50px;
}

#skills .skill-container .skill .bar {
  font-size: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7f1cdf), to(#171120));
  background-image: linear-gradient(to right, #7f1cdf, #171120);
  text-align: center;
  border-radius: 50px;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 1em 15%;
}

#projects .title {
  margin-bottom: 1em;
}

#projects .pro {
  z-index: 1;
}

#projects .project {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4em;
  padding: 20px;
  color: #171120;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: 1px solid #7f1cdf;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#projects .screenshot-container {
  margin-right: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 70%;
  position: relative;
}

#projects .screenshot-container .screenshot {
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#projects .btn-and-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 50%;
}

#projects .btn-and-description .project-title {
  font-size: 23px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #7f1cdf;
}

#projects .btn-and-description .sub-title {
  font-size: 17px;
  color: #171120;
  opacity: .7;
}

#projects .btn-and-description .using {
  font-size: 0.5em;
  color: #7f1cdf;
  margin-bottom: 10px;
  opacity: .6;
}

#projects .btn-and-description .project-btn-container {
  display: -ms-grid;
  display: grid;
  font-family: monospace;
}

#projects .btn-and-description .project-btn-git {
  font-family: monospace;
  font-size: 0.6em;
  cursor: pointer;
  padding: 0.8em 1em;
  color: #7f1cdf;
  background-color: #fffffe;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  border: 1px solid #7f1cdf;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#projects .btn-and-description .project-btn-git:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#projects .btn-and-description .project-btn-preview {
  font-family: monospace;
  font-size: 0.7em;
  cursor: pointer;
  padding: 0.8em 1em;
  background-image: -webkit-gradient(linear, left top, right top, from(#7f1cdf), to(#171120));
  background-image: linear-gradient(to right, #7f1cdf, #171120);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #fffffe;
  border-radius: 5px;
  border: none;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  margin-bottom: 5px;
}

#projects .btn-and-description .project-btn-preview:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  padding: 3em 10%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2546%26quot%3b)' fill='none'%3e%3ccircle r='46.666666666666664' cx='221.81' cy='105.71' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/circle%3e%3cpath d='M956.3 111.28a5.6 5.6 0 1 0-10.89 2.64 5.6 5.6 0 1 0 10.89-2.64zM940.75 115.05a5.6 5.6 0 1 0-10.89 2.64 5.6 5.6 0 1 0 10.89-2.64zM925.2 118.82a5.6 5.6 0 1 0-10.89 2.64 5.6 5.6 0 1 0 10.89-2.64zM909.65 122.59a5.6 5.6 0 1 0-10.89 2.64 5.6 5.6 0 1 0 10.89-2.64zM983.62 88.19a5.6 5.6 0 1 0-10.88 2.64 5.6 5.6 0 1 0 10.88-2.64zM968.07 91.96a5.6 5.6 0 1 0-10.88 2.64 5.6 5.6 0 1 0 10.88-2.64zM952.53 95.73a5.6 5.6 0 1 0-10.89 2.64 5.6 5.6 0 1 0 10.89-2.64zM936.98 99.5a5.6 5.6 0 1 0-10.89 2.64 5.6 5.6 0 1 0 10.89-2.64z' stroke='rgba(127%2c 28%2c 223%2c 1)' stroke-width='2.21' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M54.21 70.19999999999999 L149.59 176.83999999999997L168.06172305617406 57.35827694382594z' stroke='rgba(127%2c 28%2c 223%2c 1)' stroke-width='1'%3e%3c/path%3e%3crect width='139.2' height='139.2' clip-path='url(%26quot%3b%23SvgjsClipPath2547%26quot%3b)' x='1118.32' y='-47.76' fill='url(%23SvgjsPattern2548)' transform='rotate(342.66%2c 1187.92%2c 21.84)'%3e%3c/rect%3e%3ccircle r='81.02168838858509' cx='1345.83' cy='366.45' stroke='rgba(37%2c 28%2c 51%2c 1)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3cpath d='M14.17 365.38a5.6 5.6 0 1 0 4.43-10.28 5.6 5.6 0 1 0-4.43 10.28zM20.5 350.69a5.6 5.6 0 1 0 4.43-10.28 5.6 5.6 0 1 0-4.43 10.28zM26.83 336a5.6 5.6 0 1 0 4.43-10.29 5.6 5.6 0 1 0-4.43 10.29zM33.16 321.3a5.6 5.6 0 1 0 4.43-10.28 5.6 5.6 0 1 0-4.43 10.28zM16.2 401.1a5.6 5.6 0 1 0 4.43-10.28 5.6 5.6 0 1 0-4.43 10.28zM22.53 386.41a5.6 5.6 0 1 0 4.43-10.29 5.6 5.6 0 1 0-4.43 10.29zM28.86 371.72a5.6 5.6 0 1 0 4.43-10.29 5.6 5.6 0 1 0-4.43 10.29zM35.19 357.02a5.6 5.6 0 1 0 4.44-10.28 5.6 5.6 0 1 0-4.44 10.28z' stroke='rgba(37%2c 28%2c 51%2c 1)' stroke-width='1.04' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3ccircle r='53.02276511268818' cx='936.3' cy='178.16' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/circle%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath2549%26quot%3b)' x='82.45' y='299.07' fill='url(%23SvgjsPattern2550)' transform='rotate(47.53%2c 112.45%2c 329.07)'%3e%3c/rect%3e%3cpath d='M154.91 449.19 L166.78 531.22L202.61072018746555 448.4392798125345z' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M258.68 6.12L255.17 18.43 242.38 17.71 238.87 30.03 226.08 29.3 222.57 41.62 209.79 40.89M254.04-0.4L250.53 11.91 237.75 11.19 234.23 23.51 221.45 22.78 217.93 35.1 205.15 34.37M249.41-6.92L245.89 5.4 233.11 4.67 229.6 16.99 216.81 16.26 213.3 28.58 200.51 27.85' stroke='rgba(127%2c 28%2c 223%2c 1)' stroke-width='1' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M623.19 267.88 L520.2 167.89L659.0041354342591 130.57586456574103z' stroke='rgba(127%2c 28%2c 223%2c 1)' stroke-width='1.31' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3crect width='85.4' height='85.4' clip-path='url(%26quot%3b%23SvgjsClipPath2551%26quot%3b)' x='1226.43' y='-14.92' fill='url(%23SvgjsPattern2552)' transform='rotate(302.78%2c 1269.13%2c 27.78)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2546'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='13.92' height='13.92' patternUnits='userSpaceOnUse' id='SvgjsPattern2548'%3e%3cpath d='M6.96 1L6.96 12.92M1 6.96L12.92 6.96' stroke='rgba(127%2c 28%2c 223%2c 1)' fill='none' stroke-width='4.21'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2547'%3e%3ccircle r='34.8' cx='1187.92' cy='21.84'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2550'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(127%2c 28%2c 223%2c 1)' fill='none' stroke-width='1.27'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2549'%3e%3ccircle r='15' cx='112.45' cy='329.07'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='85.4' height='8.54' patternUnits='userSpaceOnUse' id='SvgjsPattern2552'%3e%3crect width='85.4' height='4.27' x='0' y='0' fill='rgba(127%2c 28%2c 223%2c 1)'%3e%3c/rect%3e%3crect width='85.4' height='4.27' x='0' y='4.27' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2551'%3e%3ccircle r='21.35' cx='1269.13' cy='27.78'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

#contact .quote {
  z-index: 1;
  font-size: 15px;
  color: #171120;
  line-height: 30px;
}

#contact .business {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 2px;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #7f1cdf;
}

#contact .business a {
  letter-spacing: 1px;
  font-size: 0.8em;
}

#contact .business a #faabs {
  color: #7f1cdf;
  border-radius: 50px;
  font-size: 2em;
  margin: 1.5em 1em 0.3em 0.3em;
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

footer {
  text-align: center;
  padding: 2em;
  margin-top: 3em;
  color: #171120;
  font-size: 1em;
  letter-spacing: 2px;
  opacity: .6;
  font-family: monospace;
}

@media only screen and (max-width: 900px) {
  header {
    position: fixed;
  }
  #home {
    padding: 10%;
  }
  .name {
    display: -ms-grid;
    display: grid;
  }
  #about,
  #skills,
  #projects {
    padding: 5%;
  }
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  nav {
    padding: 0.3em 0;
  }
  .links {
    padding: 0.3em 0;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 10%;
  }
  .burger {
    font-size: 0.7em;
  }
  .nav-links {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    right: 0px;
    height: auto;
    top: 58px;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    background-color: #fffffe;
  }
  .nav-links li {
    width: 100%;
    margin: 0;
    padding: 1em;
    border-bottom: 1px solid #7f1cdf;
  }
  .nav-links .links {
    color: #171120;
  }
  .info > span {
    font-size: 0.8em;
  }
  #skills .title {
    margin-bottom: 1.5em;
  }
  #skills .grid {
    padding: 0;
  }
  #skills .skill-container {
    margin: 10px;
  }
  #skills .skill-container .skill {
    padding: 11px;
    margin: 5px;
  }
  #skills .skill-container .skill .name, #skills .skill-container .skill i {
    font-size: 12px;
    margin-bottom: 5px;
  }
  #skills .skill-container .skill .progress {
    height: 13px;
  }
  #skills .skill-container .skill .bar {
    font-size: 10px;
  }
  #projects .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2em;
  }
  #projects .screenshot-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px;
  }
  #projects .using {
    margin-top: 1em;
  }
  #projects .btn-and-description {
    width: 100%;
    padding: 1em;
  }
  #projects .project-btn-container {
    margin-top: 1em;
  }
  #contact {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2613%26quot%3b)' fill='none'%3e%3crect width='252' height='252' clip-path='url(%26quot%3b%23SvgjsClipPath2614%26quot%3b)' x='-8.2' y='15.89' fill='url(%23SvgjsPattern2615)' transform='rotate(276.45%2c 117.8%2c 141.89)'%3e%3c/rect%3e%3cpath d='M1133.01 570.09 L1073.08 474.66L1044.3192308245204 581.1007691754797z' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath2616%26quot%3b)' x='192.55' y='455.42' fill='url(%23SvgjsPattern2617)' transform='rotate(137.19%2c 222.55%2c 485.42)'%3e%3c/rect%3e%3cpath d='M1274.98 418.75a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1285.73 430.61a5.6 5.6 0 1 0 7.51 8.3 5.6 5.6 0 1 0-7.51-8.3zM1296.47 442.47a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1307.21 454.33a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1241.64 405.78a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1252.38 417.63a5.6 5.6 0 1 0 7.52 8.31 5.6 5.6 0 1 0-7.52-8.31zM1263.13 429.49a5.6 5.6 0 1 0 7.51 8.3 5.6 5.6 0 1 0-7.51-8.3zM1273.87 441.35a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1208.3 392.8a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1219.04 404.66a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1229.78 416.52a5.6 5.6 0 1 0 7.52 8.3 5.6 5.6 0 1 0-7.52-8.3zM1240.53 428.38a5.6 5.6 0 1 0 7.51 8.3 5.6 5.6 0 1 0-7.51-8.3z' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M681.73 397.68L686.77 385.91 699.36 388.23 704.39 376.46 716.99 378.78 722.02 367.01 734.61 369.33M685.51 404.73L690.55 392.96 703.14 395.28 708.17 383.51 720.77 385.83 725.8 374.06 738.39 376.38' stroke='rgba(127%2c 28%2c 223%2c 1)' stroke-width='2.56' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath2618%26quot%3b)' x='372.56' y='110.44' fill='url(%23SvgjsPattern2619)' transform='rotate(128.82%2c 402.56%2c 140.44)'%3e%3c/rect%3e%3crect width='117' height='117' clip-path='url(%26quot%3b%23SvgjsClipPath2620%26quot%3b)' x='836.73' y='386.73' fill='url(%23SvgjsPattern2621)' transform='rotate(158.81%2c 895.23%2c 445.23)'%3e%3c/rect%3e%3ccircle r='74.4560076645051' cx='794.41' cy='9.6' stroke='rgba(37%2c 28%2c 51%2c 1)' stroke-width='1.04' stroke-dasharray='4%2c 4'%3e%3c/circle%3e%3ccircle r='46.666666666666664' cx='556.43' cy='420.99' stroke='rgba(37%2c 28%2c 51%2c 1)' stroke-width='2.79' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3crect width='305.36' height='305.36' clip-path='url(%26quot%3b%23SvgjsClipPath2622%26quot%3b)' x='-83.47' y='71.04' fill='url(%23SvgjsPattern2623)' transform='rotate(186.58%2c 69.21%2c 223.72)'%3e%3c/rect%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath2624%26quot%3b)' x='1059.1' y='18.89' fill='url(%23SvgjsPattern2625)' transform='rotate(22.19%2c 1089.1%2c 48.89)'%3e%3c/rect%3e%3cpath d='M1029.3899999999999 537.92 L1065.08 624.7L1012.8807564375137 615.6642435624861z' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2613'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2615'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(127%2c 28%2c 223%2c 1)' fill='none' stroke-width='1.18'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2614'%3e%3ccircle r='63' cx='117.8' cy='141.89'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2617'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(37%2c 28%2c 51%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2616'%3e%3ccircle r='15' cx='222.55' cy='485.42'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2619'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(37%2c 28%2c 51%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2618'%3e%3ccircle r='15' cx='402.56' cy='140.44'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='11.7' height='11.7' patternUnits='userSpaceOnUse' id='SvgjsPattern2621'%3e%3cpath d='M5.85 1L5.85 10.7M1 5.85L10.7 5.85' stroke='rgba(37%2c 28%2c 51%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2620'%3e%3ccircle r='29.25' cx='895.23' cy='445.23'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='305.36' height='13.88' patternUnits='userSpaceOnUse' id='SvgjsPattern2623'%3e%3crect width='305.36' height='6.94' x='0' y='0' fill='rgba(37%2c 28%2c 51%2c 1)'%3e%3c/rect%3e%3crect width='305.36' height='6.94' x='0' y='6.94' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2622'%3e%3ccircle r='76.34' cx='69.21' cy='223.72'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2625'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(37%2c 28%2c 51%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2624'%3e%3ccircle r='15' cx='1089.1' cy='48.89'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  }
}

@media only screen and (max-width: 500px) {
  .product-box {
    max-width: 80%;
  }
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .title {
    font-size: 0.8em;
  }
  header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1%;
  }
  nav {
    padding: 0;
    margin: 0;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 10%;
  }
  .burger {
    font-size: 0.7em;
  }
  .nav-links {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    right: 0px;
    height: auto;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    margin: 0;
    padding: 1em;
  }
  .nav-links li .links {
    padding: 0.3em;
  }
  #home {
    height: 100vh;
  }
  .name {
    line-height: 1.1em;
  }
  .profession {
    font-size: 0.7em;
  }
  #fabs {
    font-size: 15px;
    margin: 0;
  }
  .myPhoto {
    margin-top: 1.5em;
    height: 5em;
  }
  .name .myName {
    font-size: 0.7em;
  }
  .name .greetings {
    font-size: 0.4em;
    font-weight: 600;
    color: #999;
  }
  .name .profession {
    font-weight: 800;
    font-size: 0.6em;
  }
  .see-project-btn {
    margin-top: 2.5em;
    padding: 0.5em 1em;
    font-size: 0.5em;
  }
  #about {
    padding: 3em 0;
  }
  #about .title {
    margin-bottom: 2em;
  }
  #about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about i {
    font-size: 35px;
    margin: 15px;
  }
  #about .i-do {
    width: 80%;
    height: 380px;
  }
  #about .i-do-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  #about .i-do-sub-title {
    font-size: 15px;
    opacity: .7;
  }
  #skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2em 11%;
  }
  #skills .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #skills .skill-container {
    margin: 9px 0;
  }
  #skills .skill-container .skill {
    padding: 11px;
    margin: 5px;
  }
  #skills .skill-container .skill .name, #skills .skill-container .skill i {
    font-size: 12px;
    margin-bottom: 5px;
  }
  #skills .skill-container .skill .progress {
    height: 10px;
  }
  #skills .skill-container .skill .bar {
    font-size: 10px;
  }
  #projects {
    padding: 2em 11%;
  }
  #projects .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2em;
    padding: 0.2em;
    justify-content: center;
    width: 100%;
  }
  #projects .screenshot-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #projects .btn-and-description {
    width: 100%;
    padding: 0.3em;
  }
  #projects .btn-and-description .project-title {
    font-size: 16px;
  }
  #projects .btn-and-description .sub-title {
    font-size: 13px;
  }
  #projects .btn-and-description .using {
    margin: 0;
    font-size: 12px;
  }
  #projects .btn-and-description .project-btn-container {
    display: -ms-grid;
    display: grid;
    margin-top: 0.7em;
    margin-bottom: 0.2em;
    font-family: monospace;
  }
  #projects .btn-and-description .project-btn-git {
    font-family: monospace;
    font-size: 0.5em;
    cursor: pointer;
    padding: 0.8em 1em;
  }
  #projects .btn-and-description .project-btn-preview {
    font-family: monospace;
    font-size: 0.5em;
    cursor: pointer;
    padding: 1.1em 1.5em;
    border: none;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  #projects .btn-and-description .project-btn-preview:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-family: monospace;
    line-height: 20px;
    height: auto;
    font-size: 0.8em;
    letter-spacing: 2px;
    padding: 0 9% 3em 9%;
  }
  #contact .quote {
    font-size: 8px;
  }
  #contact .business a #faabs {
    font-size: 15px;
    margin: 0 10px;
  }
  footer {
    font-size: 0.9em;
    padding: 0;
    margin: 3em 0 1.5em 0;
  }
  nav {
    padding: 0.3em 0;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
/*# sourceMappingURL=style.css.map */