@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
// sass
$blue: #26abff;
$darkviolet: #1c1c65;
$pink: #ff83cd ;
$transparentWhite: rgba(255, 255, 255, 0.2);
$orange: #ffa500;
$lightOrange: #ffe5b4;
$dark: #0f103f;
$white: #fffffe;

// pre loader
#preloader {
  background-color: $dark;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #7f1cdf;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #26abff;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $pink;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// arrow up button
#arrowUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: $dark;
  color: $white;
  padding: 12px 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 99;
  cursor: pointer;
  box-shadow: 1px 2px 10px #777;

  &:hover {
    transition: 0.3s;
    background-color: $darkviolet;
    color: $white;
  }
}

body {
  scroll-snap-align: start;
}

// all section
section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: auto;
  background-color: $dark;
}

// javascript active nav hover
.actives {
  border-bottom: 4px solid $pink;
}
// scroll animation

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

//
.title {
  color: $white;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
}
.title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 10px auto;
  width: 50%;
  height: 6px;
  background: $pink;
}
// header nav
header {
  width: 100%;
  background-image: linear-gradient(to right, $transparentWhite, $dark);
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

.logo {
  width: 30px;
}

//  header nav links
a {
  text-decoration: none;
}

nav {
  & ul {
    display: flex;
    list-style: none;
  }

  & li {
    border: none;
    display: inline-block;
    margin: 1em 0 1em 1em;
    padding: 0;

    & a {
      text-decoration: none;
      letter-spacing: 1px;
      color: $white;
      padding: 0.3em 0.8em;
      cursor: pointer;
      &:hover {
        background-color: $blue;
        color: $white;
        transition: all ease 0.6s;
        border-radius: 2px;
      }
    }
  }
}

// mobile view nav

.burger {
  display: none;
  padding: 0;
  margin: 0;
}

.burger div {
  width: 3em;
  height: 0.2em;
  background-color: #dde;
  margin: 0.5em 0;
}

// home
#home {
  padding: 10% 15%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: left;
  letter-spacing: 2px;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3cpath d='M614.11 338.29 a22.95 22.95 0 1 0 45.9 0 a22.95 22.95 0 1 0 -45.9 0z' fill='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1048.33 450.94a20.22 20.22 0 1 0-26.81-30.27z' stroke='rgba(255%2c 131%2c 205%2c 1)'%3e%3c/path%3e%3cpath d='M1231.18 336.79L1250.13 336.79L1250.13 389.82L1231.18 389.82z' fill='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M861.17 542.25 a51.2 51.2 0 1 0 102.4 0 a51.2 51.2 0 1 0 -102.4 0z' stroke='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M866.4 314.97L882.53 314.97L882.53 331.1L866.4 331.1z' fill='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M1226.83 215.25L1268.11 215.25L1268.11 243.02L1226.83 243.02z' fill='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1188.51 543.84a15.12 15.12 0 1 0 2.65 30.12z' fill='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M142.29 265.76L151.85 265.76L151.85 275.32L142.29 275.32z' stroke='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M136.65 99.63 a40.34 40.34 0 1 0 80.68 0 a40.34 40.34 0 1 0 -80.68 0z' stroke='rgba(255%2c 131%2c 205%2c 1)'%3e%3c/path%3e%3cpath d='M818.06 335.31 a48.8 48.8 0 1 0 97.6 0 a48.8 48.8 0 1 0 -97.6 0z' fill='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M1046.88 16.67L1051.96 16.67L1051.96 21.75L1046.88 21.75z' fill='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M390.35 414.06 a13.93 13.93 0 1 0 27.86 0 a13.93 13.93 0 1 0 -27.86 0z' fill='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M600.14 11.01L620.6 11.01L620.6 31.47L600.14 31.47z' stroke='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M209.87 413.56L265.1 413.56L265.1 468.79L209.87 468.79z' stroke='rgba(255%2c 131%2c 205%2c 1)'%3e%3c/path%3e%3cpath d='M723.8 26.87 a28.36 28.36 0 1 0 56.72 0 a28.36 28.36 0 1 0 -56.72 0z' fill='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M177.65 132.49L199.69 132.49L199.69 154.53L177.65 154.53z' stroke='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M36.04 230.78 a38.12 38.12 0 1 0 76.24 0 a38.12 38.12 0 1 0 -76.24 0z' fill='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M765.72 105.58 a43.05 43.05 0 1 0 86.1 0 a43.05 43.05 0 1 0 -86.1 0z' stroke='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M331.06 380.87L352.03 380.87L352.03 401.84L331.06 401.84z' stroke='rgba(255%2c 131%2c 205%2c 1)'%3e%3c/path%3e%3cpath d='M245.34 82.77a42.25 42.25 0 1 0-80.79-24.76z' fill='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1203.2 445.27 a35.23 35.23 0 1 0 70.46 0 a35.23 35.23 0 1 0 -70.46 0z' fill='rgba(255%2c 131%2c 205%2c 1)'%3e%3c/path%3e%3cpath d='M302.68 516.73 a14.08 14.08 0 1 0 28.16 0 a14.08 14.08 0 1 0 -28.16 0z' fill='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M973.26 498.73L988.21 498.73L988.21 513.68L973.26 513.68z' stroke='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M358.71 75.79L404.12 75.79L404.12 91.83L358.71 91.83z' stroke='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1306.96 407.06L1351.05 407.06L1351.05 449.45L1306.96 449.45z' fill='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M1402.74 218.2L1407.8 218.2L1407.8 223.26L1402.74 223.26z' fill='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M617.53 299.1a54.08 54.08 0 1 0-87.58-63.48z' fill='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M1286.82 335a16.93 16.93 0 1 0-8.76 32.71z' stroke='rgba(255%2c 131%2c 205%2c 1)'%3e%3c/path%3e%3cpath d='M762.26 359.57 a48 48 0 1 0 96 0 a48 48 0 1 0 -96 0z' fill='rgba(28%2c 28%2c 101%2c 1)'%3e%3c/path%3e%3cpath d='M143.87 100.86L151.65 100.86L151.65 108.87L143.87 108.87z' fill='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M46.69 8.57a22.3 22.3 0 1 0 36.76 25.25z' stroke='rgba(255%2c 131%2c 205%2c 1)'%3e%3c/path%3e%3cpath d='M231.85 422.32L247.41 422.32L247.41 472.34L231.85 472.34z' stroke='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1358.42 85.91 a32.92 32.92 0 1 0 65.84 0 a32.92 32.92 0 1 0 -65.84 0z' fill='rgba(38%2c 171%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  object-fit: cover;
  background-repeat: no-repeat;
}

.name {
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  & .myName {
    z-index: 1;
    font-size: 1.3em;
    color: $white;
  }
  & .greetings {
    font-size: 0.5em;
    font-weight: 600;
    color: gray;
    margin-top: 1em;
  }

  & .profession {
    color: $blue;
    font-weight: 800;
    font-size: 0.6em;
  }
}

#fabs {
  // github, linkedin, gmail - icon
  color: $white;
  border-radius: 50px;
  padding: 0.5em;
  font-size: 0.6em;
  margin: 0 0.5em;
  cursor: pointer;
  border: none;
  &:hover {
    color: $dark;
    background-color: $white;
    transition: all ease-out 0.5s;
  }
}

.myPhoto {
  z-index: 1;
  padding: 0.4em;
  border-radius: 10px;
  margin: 0;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  height: 7em;
  box-shadow: 3px 5px 10px $darkviolet;
  border-radius: 50%;
}

.cv {
  background: linear-gradient(105.95deg, $pink 24.79%, $blue 71.87%);
  box-shadow: 0px 10px 20px rgba(7, 7, 26, 0.15);
  color: $white;
  padding: 0.5em 1em;
  font-size: 0.5em;
  letter-spacing: 1px;
  margin-top: 2em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  & .arrow-down {
    margin-left: 0.8em;
  }
}

// skill ver 3
#skills{
  display: flex;
  flex-direction: column;
  .grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em 15%;
  }
  .skill-container{
    display: flex;
    align-items: center;
    margin: 20px 10px;
    background-color: $transparentWhite;
    .name-container{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .skill{
      display: flex;
      justify-content: left;
      align-items: baseline;
      flex-direction: column;
      width: 100%;
      margin: 10px;
      padding: 10px;
      background-image: linear-gradient(to right, $dark, $darkviolet);
      .name{
        font-size: 20px;
        color: $white;
      }
      .progress{
        display: flex;
        width: 100%;
        height: 20px;
        background-color: $transparentWhite; 
        border-radius: 50px;
      }
      .bar{
        color: $white;
        font-size: 15px;
        background-color: #26abff;
        text-align: center;
        border-radius: 50px;
      }
    }
  }
}
// projects
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 1em 15%;
  & .title {
    margin-bottom: 1em;
  }

  & .pro {
    z-index: 1;
  }

  & .project {
    z-index: 1;
    display: flex;
    margin-bottom: 4em;
    padding: 0.5em;
    color: $white;
    justify-content: center;
    width: 100%;
    background-color: $transparentWhite;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  & .screenshot-container {
    width: fit-content;
    display: grid;
    place-items: center;
    background-color: $dark;
    width: 70%;
    position: relative;

    & .screenshot {
      cursor: pointer;
      width: 100%;
      height: auto;
      padding: 0.5em;
      // display: block;
    }
  }

  & .btn-and-description {
    width: 50%;
    padding: 0.7em;
    background-image: linear-gradient(to bottom, $dark, $darkviolet);

    & .project-title {
      font-size: 0.6em;
      padding-bottom: 1em;
      margin-bottom: 1.5em;
      border-bottom: 3px solid $pink;
    }

    & .using {
      font-size: 0.5em;
      color: rgba(255, 255, 255, 0.5);
    }

    & .project-btn-container {
      display: grid;
      margin-top: 1.5em;
      font-family: monospace;
    }

    & .project-btn-git {
      font-family: monospace;
      font-size: 0.6em;
      cursor: pointer;
      padding: 0.8em 1em;
      background-color: $transparentWhite;
      color: $white;
      margin-bottom: 0.7em;
      border-radius: 10px;
      border: none;
      transition: ease 0.3s;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

      &:hover {
        transform: scale(1.2);
      }
    }

    & .project-btn-preview {
      font-family: monospace;
      font-size: 0.7em;
      cursor: pointer;
      padding: 0.8em 1em;
      background: linear-gradient(105.95deg, $pink 24.79%, $blue 71.87%);
      box-shadow: 0px 10px 20px rgba(7, 7, 26, 0.15);
      color: $white;
      border-radius: 10px;
      border: none;
      transition: ease 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// contact
#contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  color: $white;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  padding: 3em 10%;
  & .quote{
    z-index: 1;
    font-size: 15px;
    color: $white;
    line-height: 30px;
  }
  & em{
    font-size: 40px;
  }

  & .business {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid $transparentWhite;
    & a {
      color: $pink;
      letter-spacing: 1px;
      font-size: 0.8em;

      & #faabs {
        color: $white;
        border-radius: 50px;
        font-size: 1.5em;
        margin: 1.5em 1em 0.3em 0.3em;
        cursor: pointer;
        border: 1px solid $dark;
        transition: ease 0.3s;

        &:hover {
          background-color: $white;
          color: $dark;
        }
      }
    }
  }
}

// footer
footer {
  text-align: center;
  padding: 2em;
  margin-top: 3em;
  color: #ddde;
  font-size: 1em;
  letter-spacing: 2px;
  font-family: monospace;
}

// media
@media only screen and (max-width: 900px) {
  header {
    position: fixed;
  }

  #home {
    padding-top: 3em;
  }

  .name {
    display: grid;
    margin: 0;
  }

  #about,
  #skills,
  #projects {
    padding: 5%;
  }

  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  nav {
    padding: 0.3em 0;
  }

  .links {
    padding: 0.3em 0;
  }

  .main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10%;
  }

  .burger {
    font-size: 0.7em;
  }

  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 0px;
    height: auto;
    top: 39px;
    width: 100%;
    background-image: linear-gradient(135deg, $darkviolet, $dark);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

    & li {
      width: 100%;
      margin: 0;
      padding: 1em;
    }
  }
  .info > span {
    font-size: 0.8em;
  }

  #about {
    padding-bottom: 3em;
  }
  //

  #skills{
    .grid{
      padding: 0;
    }
    .skill-container{

      margin: 10px;
      .skill{
        padding: 11px;
        margin: 5px;
        .name{
          font-size: 12px;
          margin-bottom: 5px;
        }
        .progress{
          height: 13px;
        }
        .bar{
          font-size: 10px;
        }
      }
    }
  }
  //

  #projects {
    & .project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
    }

    & .screenshot-container {
      width: fit-content;
    }

    & .btn-and-description {
      width: 100%;
      padding: 1em;
    }
  }
}

// mobile view
@media only screen and (max-width: 500px) {
  .product-box {
    max-width: 80%;
  }

  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .title {
    font-size: 0.8em;
  }

  // mobile nav

  header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1%;
  }

  nav {
    padding: 0;
    margin: 0;
  }

  .main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10%;
  }

  .burger {
    font-size: 0.7em;
  }

  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 0px;
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, $dark, #111);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

    & li {
      border-bottom: 1px solid $transparentWhite;
      width: 100%;
      margin: 0;
      padding: 1em;

      & .links {
        color: $white;
        padding: 0.3em;
      }
    }
  }
  // fade animation

  // home
  #home {
    height: 100vh;
  }

  .name {
    line-height: 1.1em;
  }

  .profession {
    font-size: 0.7em;
  }

  #fabs {
    font-size: 0.4em;
  }

  .myPhoto {
    margin-top: 1.5em;
    height: 5em;
  }

  .name {
    & .myName {
      font-size: 0.7em;
    }
    & .greetings {
      font-size: 0.4em;
      font-weight: 600;
      color: #999;
    }

    & .profession {
      font-weight: 800;
      font-size: 0.6em;
    }
  }

  .see-project-btn {
    margin-top: 2.5em;
    padding: 0.5em 1em;
    font-size: 0.5em;
  }


  // skill ver 3 round
  #skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 11%;
    .grid{
      display: flex;
      flex-direction: column;
    }
    .skill-container{
      margin: 9px 0;
      .skill{
        padding: 11px;
        margin: 5px;
        .name{
          font-size: 12px;
          margin-bottom: 5px;
        }
        .progress{
          height: 13px;
        }
        .bar{
          font-size: 10px;
        }
      }
    }
  }
  // project
  #projects {
    padding: 2em 11%;
    & .project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
      padding: 0.2em;
      justify-content: center;
      width: 100%;
    }

    & .screenshot-container {
      width: fit-content;
    }

    & .btn-and-description {
      width: 100%;
      padding: 0.3em;

      & .project-title {
        font-size: 0.4em;
        padding-bottom: 1em;
        margin-bottom: 1em;
      }

      & .using {
        font-size: 0.3em;
        color: rgba(255, 255, 255, 0.5);
      }

      & .project-btn-container {
        display: grid;
        margin-top: 0.7em;
        margin-bottom: 0.2em;
        font-family: monospace;
      }

      & .project-btn-git {
        font-family: monospace;
        font-size: 0.5em;
        cursor: pointer;
        padding: 0.8em 1em;
        margin-bottom: 0.7em;
        border: none;
        transition: ease 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }

      & .project-btn-preview {
        font-family: monospace;
        font-size: 0.5em;
        cursor: pointer;
        padding: 1.1em 1.5em;
        border-radius: 10px;
        border: none;
        transition: ease 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  // contact
  #contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: monospace;
    line-height: 20px;
    height: auto;
    font-size: 0.8em;
    letter-spacing: 2px;
    padding: 0 10% 3em 10%;
    & .quote{
        font-size: 7px;
    }
    & .business {
      & a {
        & #faabs {
          font-size: 1em;
        }
      }
    }
  }

  // footer
  footer {
    font-size: 0.9em;
    padding: 0;
    margin: 3em 0 1.5em 0;
  }

  nav {
    padding: 0.3em 0;
  }
  .nav-active {
    transform: translateX(0%);
  }
}
.nav-active {
  transform: translateX(0%);
}
