@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200&family=Quicksand:wght@500&display=swap');
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.logo{
    font-size: 2em;
    cursor: pointer;
}
header{
    width: 100%;
    background-image: linear-gradient(135deg, #fff, #7f1cdf);
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px rgba(0,0,0, .1);
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}
ul{
    display: flex;
    list-style: none;
}
nav li{
    border: none;
    display: inline-block;
    margin: 3em 0 3em 2em;
}
li a{
    text-decoration: none;
    color: #fff;
    padding: 1em;
    cursor: pointer;
}

nav a:hover{
    background-color: #7f1cdf;
    transition: all ease-out .6s;
    border-radius: 3px;
}
.name{
    line-height: 1.8em;
}
.burger{
    display: none;
}
/*
.burger{
    cursor: pointer;
    margin: .2em;
    background-color: #111;
    width: 4em;
}
*/

.burger div{
    width: 3em;
    height: .2em;
    background-color: #fff;
    margin: .5em;
}
#fabs{
    color: #fff;
    border-radius: 50px;
    background-color: black;
    padding: .8em;
    font-size: .5em;
    margin: 1.5em 1em .3em .3em;
    cursor: pointer;
    border: 2px solid #7f1cdf;
}
#fabs:hover{
    color: #7f1cdf;
    background-color: #fff;
    transition: all ease-out .5s;
    border: 2px solid #7f1cdf;
}
.greetings{
    font-size: .5em;
    font-weight: 600;
    color: #777;
}
.profession{
    color: #7f1cdf;
    font-weight: 800;
}
#arrow{
    margin-left: .8em;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.active{
    border-bottom: 5px solid #111;
}
#home{
    display: flex;
    justify-content: space-between;
    padding: 16%;
    letter-spacing: 2px;
    height: 80vh;
}

img{
    padding: .8em;
    background-color: #111;
    border-radius: 50px 0 50px 0;
    margin: 2%;
    border: 3px solid #fff;
    cursor: pointer;
    transition: all ease-in-out .5s;
    height: 12em;
    box-shadow: 3px 5px 10px rgb(143, 86, 197);
}
img:hover{
    padding: .8m;
    background-color: #111;
    border-radius: 0 50px 0 50px;
    transition: all ease-in-out .5s;
    height: 12em;
    box-shadow: 3px 5px 10px rgb(102, 31, 168);
}
.btn{
    background-color: #fff;
    color: #7f1cdf;
    padding: .5em 1em;
    font-size: .5em ;
    letter-spacing: 1px;
    margin-top: 7%;
    border: 1px solid #7f1cdf;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0, .2);
}
.btn:hover{
    background-color: #7f1cdf;
    color: #fff;
    border: 1px solid #111;
    transition: all ease-out .5s;
}
#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #111;
    padding: 0 15%;
    color: #fff;
    letter-spacing: 2px;
}
.skills-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    width: 100%;
}
.title{
    border-bottom: 4px solid #7f1cdf;
    padding: .3em;
    color: #fff;
}
.box{
    width: 30%;
    margin: 5%;
    padding: 3%;
    background-color: rgba(255,255,255, .1);
    box-shadow: 1px 2px 5px rgba(255,255,255, .3);
}
a{
    text-decoration: none;
}
#faa{
    color: #fff;
    padding: 1em;
    background-color: #7f1cdf;
    border-radius: 50px 0 50px 0;
    margin: 2%;
    border: 3px solid #fff;
    cursor: pointer;
    transition: all ease-in-out .5s;
}
#faa:hover{
    color: #7f1cdf;
    padding: 1em;
    background-color: #111;
    border-radius: 0 50px 0 50px;
    margin: 2%;
    border: 3px solid #7f1cdf;
}
.sub{
    margin:5%;
    font-size: .5em;
}
.subs{
    font-size: .4em;
}
#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111;
    padding: 0 50%;
}

.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project{
    background-color: rgba(255,255,255, .1);
    box-shadow: 1px 2px 5px rgba(255,255,255, .3);
    padding: 3%;
    margin: 3%;
}
.project-title{
    font-size: .4em;
    color: #fff;
}
.project-btn{
    padding: .6em;
    margin:.5em;
    cursor: pointer;
    background-color: #111;
    color: #fff;
    border: 2px solid #7f1cdf;
    border-radius: 0 20px;
    transition: all ease-in-out .5s;
}
.project-btn:hover{
    background-color: #fff;
    color: #7f1cdf;
    border-radius: 20px 0;
}
#project-icon{
    font-size: 2em;
    padding: .2em;
}


#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(135deg, #7f1cdf, #111);
    height: auto;
    color: #fff;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 10%;
}
.socials{
    margin: 3%;
}
#faabs{
    color: #fff;
    border-radius: 50px;
    background-color: black;
    padding: .8em;
    font-size: 1em;
    margin: 1.5em 1em .3em .3em;
    cursor: pointer;
    border: 2px solid #7f1cdf;
}
.business{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    letter-spacing: 2px;
}
.business a{
    color: #fff;
    letter-spacing: 1px;
    font-size: .8em;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   background-color: #111;
    height: auto;
    color: #fff;
    font-size: .7em;
    letter-spacing: 2px;
    padding: 2em;
}
@media only screen and (max-width: 600px) {
    body{
        overflow-x: hidden ;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .title{
        font-size: .8em;
    }
    header{
        width: 100%;
        background-image: linear-gradient(135deg, #fff, #7f1cdf);
        position: sticky;
        top: 0;
        box-shadow: 0 5px 10px rgba(0,0,0, .1);
    }
    #home{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: auto;
    }
    .name h1{
        font-size: 1.3em;
    }
    .profession{
        font-size: 1em;
    }
    #fabs{
        font-size: .4em;
    }
    .social{
        margin: 5%;
    }
    img{
        padding: .1em;
        background-color: #111;
        border-radius: 50px 0 50px 0;
        margin: 30% 0;
        border: 3px solid #fff;
        cursor: pointer;
        transition: all ease-in-out .5s;
        height: 7em;
        box-shadow: 3px 5px 10px rgb(143, 86, 197);
    }
    img:hover{
        padding: .1em;
        background-color: #111;
        border-radius: 0 50px 0 50px;
        transition: all ease-in-out .5s;
        height: 7em;
        box-shadow: 3px 5px 10px rgb(102, 31, 168);
    }
    #skills{
        height: auto;
        padding: 20% 0;
    }
    .skills-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .box{
        width: 70%;
        margin: 10% 0;
        padding: 10% 5%;
        background-color: rgba(255,255,255, .1);
        box-shadow: 1px 2px 5px rgba(255,255,255, .3);
    }
    #faa{
        color: #fff;
        padding: .8em;
        background-color: #7f1cdf;
        border-radius: 50px 0 50px 0;
        margin: 2%;
        border: 3px solid #fff;
        cursor: pointer;
        transition: all ease-in-out .5s;
    }
    #faa:hover{
        color: #7f1cdf;
        padding: .8em;
        background-color: #111;
        border-radius: 0 50px 0 50px;
        margin: 2%;
        border: 3px solid #7f1cdf;
    }
    .subs{
        font-size: .3em;
    }
    #projects{
        height: auto;
        padding: 15% ;
    }
    video{
        width:100%;
        height: 50%;
        margin: 10% 0;

    }
    .project-container{
       flex-direction: column;
       height: 0 auto;
       margin: 0 auto;
    }
    .project{
        width: 100%;
        margin: 10% 0;
        padding: 10%;
    }
    .project-title{
        font-size: .4em;
        color: #fff;
    }
    .btn-p{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .project-btn{
        padding: .5em;
        font-size: .3em;
        cursor: pointer;
        background-color: #111;
        color: #fff;
        border: 2px solid #7f1cdf;
        border-radius: 0 20px;
        transition: all ease-in-out .5s;
        margin: 0;
    }
    .project-btn:hover{
        background-color: #fff;
        color: #7f1cdf;
        border-radius: 20px 0;
    }
    #project-icon{
        font-size: .8em;
        padding: .4em;
    }
    .business a{
        font-size: .5em;
    }
    footer{
        font-size: .4em;
        padding: 2em;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 6vh;
        width: 100%;
        background-image: linear-gradient(135deg, #fff, #7f1cdf);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        font-size: 1.5em;
    }
    nav{
        display: flex;
        font-size: .6em;
    }
}
@media only screen and (max-width: 300px) {
  .nav-links{
    top: 6vh;
  }
}
.nav-active{
    transform: translateX(0%);
}
