@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
// sass
$black: #171120;
$blue: #26abff;
$violet: #7f1cdf;
$darkviolet: #1c1c65;
$pink: #ff83cd ;
$transparentWhite: rgba(255, 255, 255, 0.2);
$orange: #ffa500;
$lightOrange: #ffe5b4;
$dark: #0f103f;
$white: #fffffe;

// pre loader
#preloader {
  background-color: $black;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #7f1cdf;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #26abff;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $blue;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// arrow up button
#arrowUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: $dark;
  color: $white;
  padding: 12px 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 99;
  cursor: pointer;
  box-shadow: 1px 2px 10px #777;

  &:hover {
    transition: 0.3s;
    background-color: $darkviolet;
    color: $white;
  }
}

body {
  scroll-snap-align: start;
}

// all section
section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: auto;
  background-color: $black;
}

// javascript active nav hover
.actives {
  border-bottom: 4px solid $blue;
}
// scroll animation

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

//
.title {
  color: $white;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
}
.title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 10px auto;
  width: 50%;
  height: 6px;
  background: $blue;
}
// header nav
header {
  width: 100%;
  background-image: linear-gradient(to right, $transparentWhite, $black);
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

.logo {
  width: 30px;
}

//  header nav links
a {
  text-decoration: none;
}

nav {
  & ul {
    display: flex;
    list-style: none;
  }

  & li {
    border: none;
    display: inline-block;
    margin: 1em 0 1em 1em;
    padding: 0;

    & a {
      text-decoration: none;
      letter-spacing: 1px;
      color: $white;
      padding: 0.3em 0.8em;
      cursor: pointer;
      &:hover {
        background-color: $blue;
        color: $white;
        transition: all ease 0.6s;
        border-radius: 2px;
      }
    }
  }
}

// mobile view nav

.burger {
  display: none;
  padding: 0;
  margin: 0;
}

.burger div {
  width: 3em;
  height: 0.2em;
  background-color: #dde;
  margin: 0.5em 0;
}

// home
#home {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  letter-spacing: 2px;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1480' height='600' preserveAspectRatio='none' viewBox='0 0 1480 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1083%26quot%3b)' fill='none'%3e%3cpath d='M192.2384435703405 436.9617797742809L126.65011467758706 355.96693892273396 45.655273826040116 421.5552678154874 111.24360271879357 502.55010866703435z' fill='rgba(127%2c 28%2c 223%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M785.764%2c310.118C818.4%2c311.389%2c854.916%2c311.218%2c873.476%2c284.343C894.045%2c254.56%2c893.047%2c213.515%2c873.536%2c183.028C855.285%2c154.511%2c819.525%2c144.741%2c785.764%2c147.293C756.382%2c149.514%2c733.224%2c169.346%2c718.317%2c194.763C703.192%2c220.552%2c694.052%2c252.132%2c709.142%2c277.941C724.128%2c303.571%2c756.097%2c308.962%2c785.764%2c310.118' fill='rgba(127%2c 28%2c 223%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M136.258%2c168.357C172.837%2c167.761%2c197.901%2c135.567%2c215.49%2c103.489C232.229%2c72.962%2c242.436%2c36.643%2c225.006%2c6.505C207.593%2c-23.603%2c171.01%2c-32.088%2c136.258%2c-33.513C97.969%2c-35.083%2c53.659%2c-34.188%2c33.936%2c-1.332C13.883%2c32.073%2c32.302%2c72.782%2c52.421%2c106.147C71.68%2c138.087%2c98.966%2c168.965%2c136.258%2c168.357' fill='rgba(127%2c 28%2c 223%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M590.5032662311021 436.7093478912487L551.2200807778163 266.55517783531104 381.0659107218787 305.8383632885967 420.3490961751644 475.9925333445344z' fill='rgba(127%2c 28%2c 223%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1316.275%2c489.137C1371.368%2c486.106%2c1408.394%2c437.757%2c1433.552%2c388.65C1456.105%2c344.628%2c1461.118%2c294.354%2c1438.636%2c250.295C1413.828%2c201.677%2c1370.831%2c160.485%2c1316.275%2c158.813C1259.252%2c157.066%2c1208.882%2c193.061%2c1180.198%2c242.375C1151.341%2c291.987%2c1146.576%2c352.656%2c1174.291%2c402.915C1202.949%2c454.884%2c1257.018%2c492.397%2c1316.275%2c489.137' fill='rgba(127%2c 28%2c 223%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1433.066%2c429.584C1492.512%2c429.985%2c1545.805%2c395.947%2c1576.314%2c344.926C1607.707%2c292.426%2c1614.243%2c228.19%2c1585.91%2c173.977C1555.397%2c115.593%2c1498.854%2c67.399%2c1433.066%2c70.831C1371.137%2c74.062%2c1333.911%2c133.453%2c1305.556%2c188.604C1280.251%2c237.824%2c1267.243%2c294.097%2c1293.127%2c343.015C1320.622%2c394.977%2c1374.279%2c429.187%2c1433.066%2c429.584' fill='rgba(127%2c 28%2c 223%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M710.427%2c475.176C731.37%2c475.749%2c754.424%2c471.899%2c765.05%2c453.843C775.781%2c435.608%2c768.223%2c413.369%2c757.555%2c395.097C747.001%2c377.021%2c731.335%2c361.288%2c710.427%2c360.29C687.892%2c359.215%2c665.646%2c370.407%2c654.807%2c390.194C644.322%2c409.335%2c648.792%2c432.73%2c660.743%2c450.991C671.554%2c467.51%2c690.692%2c474.636%2c710.427%2c475.176' fill='rgba(127%2c 28%2c 223%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1083'%3e%3crect width='1480' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  object-fit: cover;
  background-repeat: no-repeat;
}

.name {
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  & .myName {
    z-index: 1;
    font-size: 1.3em;
    color: $white;
  }
  & .greetings {
    font-size: 0.5em;
    font-weight: 600;
    color: gray;
    margin-top: 1em;
  }

  & .profession {
    color: $blue;
    font-weight: 800;
    font-size: 0.6em;
  }
}

#fabs {
  // github, linkedin, gmail - icon
  color: $white;
  border-radius: 50px;
  padding: 0.5em;
  font-size: 0.6em;
  margin: 0 0.5em;
  cursor: pointer;
  border: none;
  &:hover {
    color: $black;
    background-color: $white;
    transition: all ease-out 0.5s;
  }
}

.myPhoto {
  z-index: 1;
  padding: 0.4em;
  border-radius: 10px;
  margin: 0;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  height: 7em;
  box-shadow: 3px 5px 10px $darkviolet;
  border-radius: 50%;
}

.cv {
  background-image: linear-gradient(to right, $violet, $blue);
  box-shadow: 0px 10px 20px rgba(7, 7, 26, 0.15);
  color: $white;
  padding: 0.5em 1em;
  font-size: 0.5em;
  letter-spacing: 1px;
  margin-top: 2em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  & .arrow-down {
    margin-left: 0.8em;
  }
}

// skill ver 3
#skills{
  display: flex;
  flex-direction: column;
  .grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em 15%;
  }
  .skill-container{
    display: flex;
    align-items: center;
    margin: 20px 10px;
    background-color: $transparentWhite;
    .name-container{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .skill{
      display: flex;
      justify-content: left;
      align-items: baseline;
      flex-direction: column;
      width: 100%;
      margin: 10px;
      padding: 10px;
      background-image: linear-gradient(to right, $black, $violet);
      .name{
        font-size: 20px;
        color: $white;
      }
      .progress{
        display: flex;
        width: 100%;
        height: 20px;
        background-color: $transparentWhite; 
        border-radius: 50px;
      }
      .bar{
        color: $white;
        font-size: 15px;
        background-color: $blue;
        text-align: center;
        border-radius: 50px;
      }
    }
  }
}
// projects
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 1em 15%;
  & .title {
    margin-bottom: 1em;
  }

  & .pro {
    z-index: 1;
  }

  & .project {
    z-index: 1;
    display: flex;
    margin-bottom: 4em;
    padding: 0.5em;
    color: $white;
    justify-content: center;
    width: 100%;
    background-color: $transparentWhite;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  & .screenshot-container {
    width: fit-content;
    display: grid;
    place-items: center;
    background-color: $black;
    width: 70%;
    position: relative;

    & .screenshot {
      cursor: pointer;
      width: 100%;
      height: auto;
      padding: 0.5em;
      // display: block;
    }
  }

  & .btn-and-description {
    width: 50%;
    padding: 0.7em;
    background-image: linear-gradient(to bottom, $black, $violet);

    & .project-title {
      font-size: 0.6em;
      padding-bottom: 1em;
      margin-bottom: 1.5em;
      border-bottom: 3px solid $blue;
    }

    & .using {
      font-size: 0.5em;
      color: rgba(255, 255, 255, 0.5);
    }

    & .project-btn-container {
      display: grid;
      margin-top: 1.5em;
      font-family: monospace;
    }

    & .project-btn-git {
      font-family: monospace;
      font-size: 0.6em;
      cursor: pointer;
      padding: 0.8em 1em;
      background-color: $transparentWhite;
      color: $white;
      margin-bottom: 0.7em;
      border-radius: 10px;
      border: none;
      transition: ease 0.3s;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

      &:hover {
        transform: scale(1.2);
      }
    }

    & .project-btn-preview {
      font-family: monospace;
      font-size: 0.7em;
      cursor: pointer;
      padding: 0.8em 1em;
      background-image: linear-gradient(to right, $violet, $blue);
      box-shadow: 0px 10px 20px rgba(7, 7, 26, 0.15);
      color: $white;
      border-radius: 10px;
      border: none;
      transition: ease 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// contact
#contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  color: $white;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  padding: 3em 10%;
  & .quote{
    z-index: 1;
    font-size: 15px;
    color: $white;
    line-height: 30px;
  }
  & em{
    font-size: 40px;
  }

  & .business {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid $transparentWhite;
    & a {
      color: $blue;
      letter-spacing: 1px;
      font-size: 0.8em;

      & #faabs {
        color: $white;
        border-radius: 50px;
        font-size: 1.5em;
        margin: 1.5em 1em 0.3em 0.3em;
        cursor: pointer;
        border: 1px solid $black;
        transition: ease 0.3s;

        &:hover {
          background-color: $white;
          color: $black;
        }
      }
    }
  }
}

// footer
footer {
  text-align: center;
  padding: 2em;
  margin-top: 3em;
  color: #ddde;
  font-size: 1em;
  letter-spacing: 2px;
  font-family: monospace;
}

// media
@media only screen and (max-width: 900px) {
  header {
    position: fixed;
  }

  #home {
    padding-top: 3em;
  }

  .name {
    display: grid;
    margin: 0;
  }

  #about,
  #skills,
  #projects {
    padding: 5%;
  }

  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  nav {
    padding: 0.3em 0;
  }

  .links {
    padding: 0.3em 0;
  }

  .main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10%;
  }

  .burger {
    font-size: 0.7em;
  }

  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 0px;
    height: auto;
    top: 39px;
    width: 100%;
    background-image: linear-gradient(135deg, $black, $violet);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

    & li {
      width: 100%;
      margin: 0;
      padding: 1em;
    }
  }
  .info > span {
    font-size: 0.8em;
  }

  #about {
    padding-bottom: 3em;
  }
  //

  #skills{
    .title{
      margin-bottom: 1.5em;
    }
    .grid{
      padding: 0;
    }
    .skill-container{
      margin: 10px;
      .skill{
        padding: 11px;
        margin: 5px;
        .name{
          font-size: 12px;
          margin-bottom: 5px;
        }
        .progress{
          height: 13px;
        }
        .bar{
          font-size: 10px;
        }
      }
    }
  }
  //

  #projects {
    & .project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
    }

    & .screenshot-container {
      width: fit-content;
    }

    & .btn-and-description {
      width: 100%;
      padding: 1em;
    }
  }
}

// mobile view
@media only screen and (max-width: 500px) {
  .product-box {
    max-width: 80%;
  }

  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .title {
    font-size: 0.8em;
  }

  // mobile nav

  header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1%;
  }

  nav {
    padding: 0;
    margin: 0;
  }

  .main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10%;
  }

  .burger {
    font-size: 0.7em;
  }

  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 0px;
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, $black, #111);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

    & li {
      border-bottom: 1px solid $transparentWhite;
      width: 100%;
      margin: 0;
      padding: 1em;

      & .links {
        color: $white;
        padding: 0.3em;
      }
    }
  }
  // fade animation

  // home
  #home {
    height: 100vh;
  }

  .name {
    line-height: 1.1em;
  }

  .profession {
    font-size: 0.7em;
  }

  #fabs {
    font-size: 0.4em;
  }

  .myPhoto {
    margin-top: 1.5em;
    height: 5em;
  }

  .name {
    & .myName {
      font-size: 0.7em;
    }
    & .greetings {
      font-size: 0.4em;
      font-weight: 600;
      color: #999;
    }

    & .profession {
      font-weight: 800;
      font-size: 0.6em;
    }
  }

  .see-project-btn {
    margin-top: 2.5em;
    padding: 0.5em 1em;
    font-size: 0.5em;
  }


  // skill ver 3 round
  #skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 11%;
    .grid{
      display: flex;
      flex-direction: column;
    }
    .skill-container{
      margin: 9px 0;
      .skill{
        padding: 11px;
        margin: 5px;
        .name{
          font-size: 12px;
          margin-bottom: 5px;
        }
        .progress{
          height: 13px;
        }
        .bar{
          font-size: 10px;
        }
      }
    }
  }
  // project
  #projects {
    padding: 2em 11%;
    & .project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
      padding: 0.2em;
      justify-content: center;
      width: 100%;
    }

    & .screenshot-container {
      width: fit-content;
    }

    & .btn-and-description {
      width: 100%;
      padding: 0.3em;

      & .project-title {
        font-size: 0.4em;
        padding-bottom: 1em;
        margin-bottom: 1em;
      }

      & .using {
        font-size: 0.3em;
        color: rgba(255, 255, 255, 0.5);
      }

      & .project-btn-container {
        display: grid;
        margin-top: 0.7em;
        margin-bottom: 0.2em;
        font-family: monospace;
      }

      & .project-btn-git {
        font-family: monospace;
        font-size: 0.5em;
        cursor: pointer;
        padding: 0.8em 1em;
        margin-bottom: 0.7em;
        border: none;
        transition: ease 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }

      & .project-btn-preview {
        font-family: monospace;
        font-size: 0.5em;
        cursor: pointer;
        padding: 1.1em 1.5em;
        border-radius: 10px;
        border: none;
        transition: ease 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  // contact
  #contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: monospace;
    line-height: 20px;
    height: auto;
    font-size: 0.8em;
    letter-spacing: 2px;
    padding: 0 10% 3em 10%;
    & .quote{
        font-size: 7px;
    }
    & .business {
      & a {
        & #faabs {
          font-size: 1em;
        }
      }
    }
  }

  // footer
  footer {
    font-size: 0.9em;
    padding: 0;
    margin: 3em 0 1.5em 0;
  }

  nav {
    padding: 0.3em 0;
  }
  .nav-active {
    transform: translateX(0%);
  }
}
.nav-active {
  transform: translateX(0%);
}
